<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menu</title>
</head>

<body>
	<nav class="sidebar-nav scroll-sidebar" data-simplebar="" th:fragment="menu">
		<ul id="sidebarnav">
			<li class="nav-small-cap">
				<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
				<span class="hide-menu">Home</span>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link active" href="http://localhost:8080/relatorio/relatorio" aria-expanded="false">
					<span>
						<i class="ti ti-layout-dashboard"></i>
					</span>
					<span class="hide-menu">Relatorio</span>
				</a>
			</li>
			<li class="nav-small-cap">
				<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
				<span class="hide-menu">Cadastro</span>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/livro" aria-expanded="false">
					<span>
						<i class="ti ti-layout-dashboard"></i>
					</span>
					<span class="hide-menu">Livro</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/autor" aria-expanded="false">
					<span>
						<i class="ti ti-layout-dashboard"></i>
					</span>
					<span class="hide-menu">Autor</span>
				</a>
			</li>
			<li class="sidebar-item">
				<a class="sidebar-link" href="/assunto" aria-expanded="false">
					<span>
						<i class="ti ti-layout-dashboard"></i>
					</span>
					<span class="hide-menu">Assunto</span>
				</a>
			</li>
		</ul>
	</nav>
</body>

</html>